@model IEnumerable<FreelancingSystemProject.Models.PostViewModel>

@{
    ViewBag.Title = "GetJobsByClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-secondary">
    <h3>
        All Proposals sent by freelancers
    </h3>
</div>

<hr />
@foreach (var gr in Model)
{
    <h5>Job: @gr.JobDescription</h5>
    <table class="table">
        <tr>
            <th>
                Freelanncer
            </th>
            <th>
                Message
            </th>
            <th>
                proposal Date
            </th>
            <th>
                Status
            </th>
        </tr>
        @foreach (var item in gr.proposals)
        {
            <tr>
                <td>
                    @item.User.UserName
                </td>
                <td>
                    @item.Message
                </td>
                <td>
                    @item.ProposalDate
                </td>
                
                    @{
                        if (item.Post.HasProposalAccepted)
                        {
                            <td>
                                Accepted
                            </td>
                        }
                        else { 
                            <td>
                                @Html.ActionLink("Accept", "AcceptProposal", new {id=item.Id }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Refuse", "RefuseProposal", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        }
                    }        
            </tr>
        }
    </table>
}